.wy-nav-content {
    max-width: 1050px;
}

h1 {
    font-size: 190%;
    text-decoration: underline;
}

.icon-github {
  display: none !important;
}

.fa-github {
  display: none;
}

.wy-side-scroll {
  width: 300px;
  overflow-y: auto;
  height: 98.9%;
}